.suggested-card-container {
  display: flex;
  padding: 5px 10px 5px 15px;
  height: 64px;
  align-items: center;
  transition: 500ms;
  font-size: 1.4rem;
}

.suggested-card-container:hover {
  background-color: #f3f2f1;
  transition: 200ms;
}

.suggested-card-container > span {
  font-size: 1.4rem;
}
