version: "3.7"

services:
  app: # app
    image: myapp
    container_name: app
    volumes:
      - type: bind
        source: ./src
        target: /app/src
    depends_on:
      - app_db
      - app_redis
      - kafka1
      - kafka2
    # ports:
    #   - 3000:3000
    environment:
      - "SECRETKEY=${SECRETKEY}"
      - "OAUTH_CLIENTID=${OAUTH_CLIENTID}"
      - "OAUTH_CLIENTSECRET=${OAUTH_CLIENTSECRET}"
      - "HOSTNAME=${HOSTNAME}"
      - "PORT=${PORT}"
      - "ISSUER=${ISSUER}"
      - "FRONTENDURL=${FRONTENDURL}"
      - "CALLBACKURL=${CALLBACKURL}"
      - "DATABASE_URI=${DATABASE_URI}"
      - "NODE_ENV=${NODE_ENV}"
      - "REDIS_URL=${REDIS_URL}"
      - "KAFKA_CLIENT_ID=${KAFKA_CLIENT_ID}"
      - "KAFKA_BROKERS=${KAFKA_BROKERS}"
      - "KAFKA_GROUP_ID=${KAFKA_GROUP_ID}"
      - "KAFKA_TOPIC_NAME=${KAFKA_TOPIC_NAME}"

  app_db: # PostgreSQL
    image: postgres:13.2
    container_name: app_db
    environment:
      - "POSTGRES_USER=${POSTGRES_USER}"
      - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}"
      - "POSTGRES_DB=${POSTGRES_DB}"
    # ports:
    #   - "5432:5432"

  app_redis: # Redis server
    image: redis:6.2.0-alpine
    container_name: app_redis
    # ports:
    #   - "6380:6379"

  rp: # Reverse Proxy
    image: nginx:1.19.1-alpine
    container_name: rp
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8888:80"
    depends_on:
      - app

  zookeeper1:
    container_name: zookeeper1
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181

  zookeeper2:
    container_name: zookeeper2
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 32181:2181

  kafka1:
    container_name: kafka1
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper1
      - zookeeper2
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper1:2181,zookeeper2:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka2:
    container_name: kafka2
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper1
      - zookeeper2
    ports:
      - 39092:39092
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper1:2181,zookeeper2:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9092,PLAINTEXT_HOST://localhost:39092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  fe: # frontend
    image: video_chat_frontend-dev
    container_name: fe
    volumes:
      - type: bind
        source: ./client/src
        target: /app/src
    # ports:
    #   - 3000:3000
    environment:
      - "REACT_APP_WS_URL=${REACT_APP_WS_URL}"
