.candidate-card-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 50px;
  width: 256px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.4rem -0.075rem rgb(0 0 0 / 25%);
  border-radius: 3px;
  transition: 300ms;
  animation: fadein 0.5s;
}

.candidate-card-container {
  display: flex;
  padding: 5px 10px 5px 15px;
  height: 64px;
  align-items: center;
  transition: 500ms;
  font-size: 1.4rem;
}

.candidate-card-container:hover {
  background-color: #f3f2f1;
  transition: 200ms;
}

.candidate-card-container > span {
  font-size: 1.4rem;
}

@media (max-width: 800px) {
  .candidate-card-list {
    margin-top: 5px;
    width: 256px;
  }
}
