.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
}

.new-channel-button-container {
  display: flex;
  min-height: 112px;
  max-height: 112px;
  /* bottom: 0; */
  justify-content: center;
  align-items: center;
}
