.suggested-card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
  height: 140px;
  overflow: auto;
}

@media (max-width: 800px) {
  .suggested-card-list {
    height: auto;
  }
}
