.right-column {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 20rem);
}

.channel-title-container {
  display: flex;
  min-height: 80px;
  flex-direction: row;
  align-items: flex-end;
  /* margin: 1.5rem; */
  padding: 1.2rem;
  border-bottom: 1px solid #ebebec;
}

.channel-title {
  display: flex;
  /* height: 65px; */
  margin-bottom: 5px;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: flex-end;
}

.add-member-button-container {
  display: flex;
  width: 150px;
  justify-content: center;
}

.chat-form-container {
  display: flex;
  margin: 0 25px 10px 15px;
  border: 1px solid #ececee;
  border-radius: 20px;
  box-shadow: 1.4px 1.4px 2.2px rgba(0, 0, 0, 0.06),
    6.2px 6.2px 7.4px rgba(0, 0, 0, 0.034), 30px 30px 33px rgba(0, 0, 0, 0.017);
  flex-direction: column;
  justify-content: stretch;
  bottom: 0;
}

.chat-form-container__header {
  padding: 10px 0 10px 15px;
  border-radius: 20px 20px 0 0;
  background: #070e0c;
  color: #fff;
  font-size: 1.2rem;
}

.chat-form-button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  padding: 15px 25px 15px 0;
}

@media (max-width: 800px) {
  .right-column {
    width: 100%;
  }

  .chat-form-button-container {
    padding: 5px 15px 15px 0;
  }
}
