.button {
  padding: 10px 15px 10px 15px;
  font-size: 1.2rem;
  border: 1px solid #7c83fd;
  background-color: #7c83fd;
  color: #fff;
  text-align: center;
  word-wrap: unset;
  border-radius: 20px;
  transition: 300ms;
}
.button:hover {
  background-color: #fff;
  color: #7c83fd;
  border: 1px solid #7c83fd;
  transition: 300ms;
}

.button:disabled {
  background-color: #5f5f68;
}

.button:disabled:hover {
  background-color: #5f5f68;
  color: #fff;
  border: none;
}
