.chat-textarea {
  margin: 1.2rem 0 1rem 0;
  padding: 0.6rem 1.2rem;
  border: 0;
  min-height: 80px;
  background-color: #fff;
  border-radius: 5px;
  resize: none;
}

.chat-textarea:focus {
  outline: none;
}

@media (max-width: 800px) {
  .chat-textarea {
    margin: 0;
    min-height: 0;
  }
}
