.channel-list-item-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 70px;
  justify-content: center;
  border-bottom: 1px solid #ebebec;
  background-color: #f5f7f9;
  transition: 300ms;
}

.channel-list-title {
  margin-bottom: 7px;
  font-size: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-member-summary {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-list-bold {
  font-weight: 900;
}

.channel-list-selected {
  background-color: #fff;
}

.channel-list {
  border: 0px;
  height: 100%;
  overflow: auto;
}

.channel-list ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding-bottom: 0px;
}
